

<form action="" method="post">
    <fieldset>
        <legend>Reset your password !!</legend>
        {% csrf_token %}
        <input type="password" placeholder="Old Password" id="oldpassword" name="oldpassword" required>
        <input type="password" placeholder="New Password" id="new_password" name="new_password" required>
        <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required>
        <button type="submit" class="pure-button pure-button-primary">Confirm</button>
    </fieldset>
</form>


